<div class="logincontainer">
<h1 class="title">Login</h1><br>
<div class="loginform">
<form>
    <input type="text" name="inputUsername" id="inputUsername" [(ngModel)]="inputUsername" class="input is-info" placeholder="Username"><br><br>
    <input type="password" name="inputPassword" id="inputPassword" [(ngModel)]="inputPassword" class="input is-info" placeholder="Password"><br><br>
    <button type="submit" (click)="submitClicked()" class="button is-dark">Submit</button><br>
    {{error}}
</form>
</div>
</div>
