<div class="container is-fluid managecontainer">
<div *ngIf="superLoggedIn">
<h1>Super Admin Commands:</h1>
<h3>Add User:</h3>
<form>
    <label>Username:</label>
    <input type="text" name="inputUsername" [(ngModel)]="inputUsername">
    <label>Role:</label>
    <select name="inputRole" [(ngModel)]="inputRole">
        <option value="super">Super</option>
        <option value="groupadmin">Group Admin</option>
        <option value="user">User</option>
    </select>
    <button type="submit" (click)="addUser()">Add User</button>
</form>
</div>
<div *ngIf="groupAdmin">
    <h1>Group Admin Commands:</h1>
    <h3>Add Group:</h3>
    <form>
        <label>Group Name:</label>
        <input type="text" name="groupname" [(ngModel)]="groupname">
        <button type="submit" (click)="addGroup()">Add Group</button>
    </form>
    <h3>Add Channel to Group:</h3>
    <form>
        <label>Group:</label>
        <select name="inputGroup" [(ngModel)]="inputGroup">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <label>Channel Name:</label>
        <input name="inputChannel" [(ngModel)]="inputChannel">
        <button type="submit" (click)="addChannel()">Add Channel</button>
    </form>
    <h3>Invite User to Group:</h3>
    <form>
        <label>Group:</label>
        <select name="inviteGroupName" [(ngModel)]="inviteGroupName" (ngModelChange)="channelOptions()">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <label>Username:</label>
        <select name="inviteGroupUsername" [(ngModel)]="inviteGroupUsername">
            <option *ngFor="let user of userdata" [value]="user.username">{{user.username}}</option>
        </select>
        <button type="submit" (click)="inviteUserToGroup()">Invite User</button>
    </form>
    <h3>Invite User to Channel:</h3>
    <form>
        <label>Group:</label>
        <select name="inviteGroup" [(ngModel)]="inviteGroup" (ngModelChange)="channelOptions()">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <label>Channel:</label>
        <select name="inviteChannel"  [(ngModel)]="inviteChannel">
            <option *ngFor="let channel of selectedGroupChannels" [value]="channel">{{channel}}</option>
        </select>
        <label>Username:</label>
        <select name="inviteUsername" [(ngModel)]="inviteUsername">
            <option *ngFor="let user of userdata" [value]="user.username">{{user.username}}</option>
        </select>
        <button type="submit" (click)="inviteUser()">Invite User</button>
    </form>
    <p>{{inviteError}}</p>
    <div class="userinfo">
        <h3 class="title">Users:</h3>
        <div class="user" *ngFor="let user of userdata">
            {{user.username}}
            <p *ngFor="let group of user.groups">{{group.name}} {{group.channels}}</p>
            
            Groups: 
        </div>
    </div>
</div>
</div>