<div class="container is-fluid managecontainer">
<div *ngIf="superLoggedIn">
<h3 class="title">Super Admin Commands:</h3>
<h3>Add User:</h3>
<form>
    <label>Username:</label>
    <input class="input" type="text" name="inputUsername" [(ngModel)]="inputUsername">
    <label>Email:</label>
    <input class="input" type="text" name="inputEmail" [(ngModel)]="inputEmail">
    <label>Role:</label>
    <div class="select">
    <select name="inputRole" [(ngModel)]="inputRole">
        <option value="super">Super</option>
        <option value="groupadmin">Group Admin</option>
        <option value="user">User</option>
    </select>
    </div>
    <button class="button" type="submit" (click)="addUser()">Add User</button>
</form>
<h3>Delete User:</h3>
<form>
        <label>Username:</label>
        <div class="select">
        <select type="text" name="deleteUserName" [(ngModel)]="deleteUserName">
            <option *ngFor="let user of userdata" [value]="user.username">{{user.username}}</option>
        </select>
        </div>
        <button class="button" type="submit" (click)="deleteUser()">Delete User</button>
    </form>
</div>
<div *ngIf="groupAdmin">
    <h3 class="title">Group Admin Commands:</h3>
    <h3>Add Group:</h3>
    <form>
        <label>Group Name:</label>
        <input class="input" type="text" name="groupname" [(ngModel)]="groupname">
        <button type="submit" (click)="addGroup()">Add Group</button>
    </form>
    <h3>Add Channel to Group:</h3>
    <form>
        <label>Group:</label>
        <select name="inputGroup" [(ngModel)]="inputGroup">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <label>Channel Name:</label>
        <input class="input" name="inputChannel" [(ngModel)]="inputChannel">
        <button type="submit" (click)="addChannel()">Add Channel</button>
    </form>
    <h3>Invite User to Group:</h3>
    <form>
        <label>Group:</label>
        <select name="inviteGroupName" [(ngModel)]="inviteGroupName" (ngModelChange)="channelOptions()">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <label>Username:</label>
        <select name="inviteGroupUsername" [(ngModel)]="inviteGroupUsername">
            <option *ngFor="let user of userdata" [value]="user.username">{{user.username}}</option>
        </select>
        <button type="submit" (click)="inviteUserToGroup()">Invite User</button>
    </form>
    <h3>Invite User to Channel:</h3>
    <form>
        <label>Group:</label>
        <select name="inviteGroup" [(ngModel)]="inviteGroup" (ngModelChange)="channelOptions()">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <label>Channel:</label>
        <select name="inviteChannel"  [(ngModel)]="inviteChannel">
            <option *ngFor="let channel of selectedGroupChannels" [value]="channel">{{channel}}</option>
        </select>
        <label>Username:</label>
        <select name="inviteUsername" [(ngModel)]="inviteUsername">
            <option *ngFor="let user of userdata" [value]="user.username">{{user.username}}</option>
        </select>
        <button type="submit" (click)="inviteUser()">Invite User</button>
    </form>
    <h3>Remove User from Channel:</h3>
    <form>
        <label>Username:</label>
        <select name="removeChannelUserName" [(ngModel)]="removeChannelUserName" (ngModelChange)="groupOptions()">
            <option *ngFor="let user of userdata" [value]="user.username">{{user.username}}</option>
        </select>
        <label>Group:</label>
        <select name="removeChannelGroupName" [(ngModel)]="removeChannelGroupName" (ngModelChange)="removeChannelOptions()">
            <option *ngFor="let group of removeGroupNamePossibilities" [value]="group.name">{{group.name}}</option>
        </select>
        <label>Channel:</label>
        <select name="removeChannelfromUser" [(ngModel)]="removeChannelfromUser">
                <option *ngFor="let channel of removeChannelNamePossibilities" [value]="channel">{{channel}}</option>
        </select>
        <button type="submit" (click)="deleteChannelfromUser()">Delete Channel from User</button>
    </form>
    <h3>Remove Group:</h3>
    <form>
        <label>Group:</label>
        <select name="deleteGroupName" [(ngModel)]="deleteGroupName">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <button type="submit" (click)="deleteGroup()">Delete Group</button>
    </form>
    <h3>Remove Channel:</h3>
    <form>
        <label>Group:</label>
        <select name="deleteChannelGroupName" [(ngModel)]="deleteChannelGroupName" (ngModelChange)="deleteChannelOptions()">
            <option *ngFor="let group of groups" [value]="group.name">{{group.name}}</option>
        </select>
        <select *ngIf="deleteSelectedGroupChannels" name="deleteChannelName" [(ngModel)]="deleteChannelName">
                <option *ngFor="let channel of deleteSelectedGroupChannels" [value]="channel">{{channel}}</option>
        </select>
        <button type="submit" (click)="deleteChannel()">Delete Channel</button>
    </form>
    <p>{{inviteError}}</p>
    </div>
    <div class="groupAssis" *ngIf="isAssisUser">
        <h3 class="title">Group Assis:</h3>
    </div>
    
    <div class="userinfo">
        <h3 class="title">Users:</h3>
        <table class="table is-bordered">
            <tr>
                <td>Username</td>
                <td>Groups/Channels</td>
            </tr>
            <tr *ngFor="let user of userdata">
                <td><b>{{user.username}}</b><br>
                Email: {{user.email}}<br>
                Role: {{user.role}}</td>
                <td><p *ngFor="let group of user.groups"><b>{{group.name}}</b><br>
                    Channels: <br>{{group.channels}}</td>
            </tr>
    </table>
    </div>
    <div class="groupinfo">
            <h3 class="title">Groups:</h3>
            <table class="table is-bordered">
                <tr>
                    <td>Group</td>
                    <td>Channels</td>
                </tr>
                <tr *ngFor="let group of groups">
                    <td>{{group.name}}<br>
                    <td><p *ngFor="let channel of group.channels">{{channel}}<br></td>
                </tr>
        </table>
        </div>
</div>